*{
    margin: 0%;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgb(226, 203, 203);
}
header{
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
.btn{
    background-color: rgb(102, 78, 240);
    color:white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;

}
.btn:hover{
    background-color: rgb(32, 32, 128);
    cursor: pointer;
    transition: 0.8;
}
#highlight-section {
    
    width: 70%;
    margin: 50px auto;
}
#highlight-section >h2 {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    text-shadow: 2px 2px 8px #af3e3e;
    margin-bottom: 25px;
}
#highlight-section > p {
    margin: 0 auto;
    width: 50%;
    color: rgb(99, 130, 158);
    text-align: center;
    margin-bottom: 25px;
}
#buy-now-button {
    display: flex;
    justify-content: center;
}
#cover-image-section {
    border: 2px rgb(85, 207, 138);
    width: 50%;
    margin: 50px auto;
}
#cover-image-section img {
   width: 100%;
}
